footer {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 1000px;
    margin: 0 auto;
    border-top: 3px solid #a3a3a3;
}

footer a {
    /*color: white;*/
}

.fixed-size {
    height: 70px;
}

footer section {
    margin-bottom: 1%;
}

#link a:hover {
    color: #95e7ea;
}